MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=linux_lab
MYSQL_USER=labapp
MYSQL_PASSWORD=replace_with_random_local_password
MYSQL_ROOT_PASSWORD=replace_with_random_local_password
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=labmq
RABBITMQ_DEFAULT_PASS=replace_with_random_local_password
